@font-face {
    font-family: 'Belligerent-Madness';
    src: url('Belligerent-Madness.ttf.woff') format('woff'), url('Belligerent-Madness.ttf.svg#Belligerent-Madness') format('svg'), url('Belligerent-Madness.ttf.eot'), url('Belligerent-Madness.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


/*---------------------------------------------------------ENSEMBLE DU PROJET-------------------------------------------------*/

body {
    margin: auto;
}

a {
    text-decoration: none;
}

.color {
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 12px gray;
}

.logo {
    margin-left: 20px;
}

.panier {
    display: flex;
    align-items: center;
    margin-right: 40px;
    color: #9a61dd;
}

h1,
h2 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-top: 30px;
    font-family: 'Belligerent-Madness';
    font-weight: unset;
}


/*---------------------------------------------------------INDEX.HTML-------------------------------------------------*/

#teddies_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bloc__nom--prix {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 20px;
}

.ensemble__produits {
    margin: 20px;
}

.bloc__image--nom--prix {
    box-shadow: 1px 1px 12px gray;
    padding: 10px 10px;
}


/*---------------------------------------------------------PRODUCT.HTML-------------------------------------------------*/

#largeur__color {
    width: 160px;
}

.bloc__personnalisation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    box-shadow: 1px 1px 12px grey;
    margin: 40px;
    padding: 20px;
}

.paragraphe__index {
    text-align: center;
    margin-top: 50px;
}

.photo__personnalisation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 12px gray;
    padding: 10px;
    width: 80%;
}

#addpanier {
    display: flex;
    justify-content: center;
    border: 1px double gray;
    background-color: #f3e9f1;
    width: 150px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Belligerent-Madness';
    transform: scale(1);
    transition: .6s;
    color: black;
}

#addpanier:hover {
    transform: scale(1.15);
    transition: .6S;
}

#panier {
    width: 100%;
    text-align: center;
    padding: 20px;
}

.nom__prenom,
.adresse__ville {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.adresse__mail--bouton {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bouton__validation {
    background-color: #f3e9f1;
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
    font-family: 'Belligerent-Madness';
    transform: scale(1);
    transition: .6s;
    color: black;
}

.bouton__validation:hover {
    transform: scale(1.15);
    transition: .6s;
}

#bloc__produit {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    box-shadow: 1px 1px 12px gray;
    margin: 0px 80px;
}

#description {
    margin-top: 30px;
}

.fas {
    color: #9a61dd;
}

button {
    margin: 8px;
}